.container {
  width: 100%;
  margin: 0px auto;
  @media screen and (max-width: 1024px) and (min-width: 200px) {
    width: 90%;
  }
}
.title {
  margin-top: 1rem;
  color: #281b74;
  font-weight: 700;
  font-size: 3rem;
  @media screen and (max-width: 1024px) and (min-width: 200px) {
    font-size: 2rem;
    text-align: center;
  }
  @media (max-width: 375px) and (min-width: 100px) {
    font-size: 2rem;
    text-align: center;
  }
}
.sub-title {
  text-decoration: none !important;
  color: #281b74;
  @media screen and (max-width: 700px) and (min-width: 200px) {
    text-align: center;
  }
}

.title-long {
  font-size: 19px;
  @media screen and (max-width: 1100px) and (min-width: 800px) {
    font-size: 14px;
  }
}

.logo {
  @media (max-width: 375px) and (min-width: 100px) {
    width: 100%;
  }
}

//card beneficios
